.contents{
    background-color: #efeee3;
    padding:8px;
}

.portfolio-background{
    display:flex;
}

.portfolio-list{
    list-style:none;
}


.portfolio-left-div{
  flex:1;
  width:30%;
  background-color: white;
  border: solid 2px black;
}

.portfolio-right-div{
  flex:1;
  margin-top:23px;
  width:50%;
  height:500px;
  background-color: white;
  border: solid 2px black;
}

/* Style the tab */
.tab {
    background-color: #efeee3;
    position: relative;
    margin: 0 0 -2px;
    text-indent: 0;
    list-style-type: none;
    display: flex;
    padding-left: 3px;
  }
  
  /* Style the buttons inside the tab */
  .tab button {
    background: linear-gradient(180deg,#fff,#fafaf9 26%,#f0f0ea 95%,#ecebe5);
margin-left: -1px;
margin-right: 2px;
border-radius: 0;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
border-color: #91a7b4;
border-top-right-radius: 3px;
border-top-left-radius: 3px;
padding: 0 12px 3px;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    box-shadow: unset;
    border-top: 1px solid #e68b2c;
    box-shadow: inset 0 2px #ffc73c;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background: #fcfcfe;
    border-color: #919b9c;
      border-top-color: rgb(145, 155, 156);
      border-bottom-color: rgb(145, 155, 156);
    margin-right: -1px;
    border-bottom: 1px solid transparent;
    border-top: 1px solid #e68b2c;
    box-shadow: inset 0 2px #ffc73c;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }