.portfolio-top-menu{
  overflow:hidden;
  background-image: url("../../../images/application-images/portfolio/portfolio-top-app-bar-fill.png");
  height:96.3px;
  background-size: 96.3px 100%
}



.nextPage{
  width:100px;
  height:100px;
  position:absolute;
}

.portfolio-container{
  height:100%;
  overflow:hidden;
}

.portfolio-background{
    display:flex;
}

.portfolio-list{
    list-style:none;
    color:#215ec6;
    padding:0;
}

.portfolio-list > li {
  padding-bottom:6px;
}

.tabcontent-content{
  padding:4px;
}

.portfolio-list > li:hover{
  color:#428eff;
  text-decoration: underline;
  cursor:pointer;
}

.portfolio-left-div{
  width:400px;
  min-width: 250px;
  overflow-y: scroll;
  background-color: #6b84db;
}

.portfolio-right-div{
  overflow:visible;
  width:100%;
  background-color: #d3d3d3;
}

/* Style the tab content */
.tabcontent {
  background-color: #d6dff7;
  border: solid 2px white;
  margin: 32px 12px 32px 12px;
}

.tabcontent-title{
  padding:4px;
  background: linear-gradient(to right, #ffffff, #c6d3f7);
  color: #215dc6;
  padding-left:24px;
  font-size: 14px;
  height:32px;
}

.tabcontent-details{
  padding-left: 4px;
  padding-right:4px;
}

.tabcontent-details > h3 {
  color: #215dc6;
  font-size: 16px;
}

.tabcontent-details > p {
  font-size: 12px;
}

.tabcontent-title, .tabcontent{
  border-radius: 12px 12px 0px 0px;
}

  .tabcontent-title > h2{
    float:left;
    
  }
  
  
  .menu-control{
    background-color: white;
    float:right;
    padding:4px;
    border-radius:12px;
    box-shadow: 0px 0px 8px gray;
    margin-right:8px;
    margin-top: 2px;
  }

  
  .dialog-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 200px;
    background-color: white;
    border: 2px solid #0026ac;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 10000;
  }

  .dialog-box-lock{
    float:left;
  }
  
  .dialog-box-title-bar {
    height: 30px;
    background-color: #3b5998;
    color: white;
    font-size: 16px;
    font-weight: bold;
    line-height: 30px;
    padding-left: 10px;
  }
  
  .dialog-box-content {
    padding: 10px;
    font-size: 14px;
  }
  
  .dialog-box-buttons {
    position: absolute;
    bottom: 10px;
    right: 10px;
  }
  
  .dialog-box-button {
    display: inline-block;
    margin-left: 10px;
    padding: 6px 12px;
    background-color: #3b5998;
    color: white;
    border: none;
    font-size: 14px;
    cursor: pointer;
  }
  
  .dialog-box-button:hover {
    background-color: #444;
  }
  
  .background-hidden{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 999;
  }

  /* Phone layout */
@media only screen and (max-width: 800px) {
  .portfolio-left-div{
    display:none;
  }
}
