.portfolio-top-menu{
  overflow:hidden;
  background-image: url("../../../images/application-images/portfolio/portfolio-top-app-bar-fill.png");
  height:96.3px;
  background-size: 96.3px 100%
}



.nextPage{
  background-color: red;
  width:100px;
  height:100px;
  position:absolute;
}

.portfolio-container{
  height:100%;
  overflow:hidden;
}

.portfolio-background{
    display:flex;
}

.portfolio-choice{
  overflow-y: scroll;
}

.portfolio-list{
    list-style:none;
    color:#215ec6;
}

.portfolio-list > li:hover{
  color:#428eff;
  text-decoration: underline;
  cursor:pointer;
}

.portfolio-left-div{
  width:400px;
  background-color: #6b84db;
}

.portfolio-right-div{
  overflow:visible;
  width:100%;
  background-color: #d3d3d3;
  height:100%;
}

/* Style the tab content */
.tabcontent {
  background-color: #d6dff7;
  border: solid 2px white;
  margin: 32px 12px 32px 12px;
}

.tabcontent-content{
  
}

.tabcontent-title{
  padding:4px;
  background: linear-gradient(to right, #ffffff, #c6d3f7);
  color: #215dc6;
  padding-left:24px;
  font-size: 14px;
  height:32px;
}

.tabcontent-title, .tabcontent{
  border-radius: 12px 12px 0px 0px;
}

  .tabcontent-title > h2{
    float:left;
    
  }
  
  
  .menu-control{
    background-color: white;
    padding:4px;
    border-radius:12px;
    box-shadow: 0px 0px 8px gray;
    display: inline-block;
    float: inline-end;
    margin-right:8px;
    margin-top: 2px;
  }
  
/*   
  Style the tab
  .tab {
      background-color: #efeee3;
      position: relative;
      margin: 0 0 -2px;
      text-indent: 0;
      list-style-type: none;
      display: flex;
      padding-left: 3px;
    }
    
     Style the buttons inside the tab 
    .tab button {
      background: linear-gradient(180deg,#fff,#fafaf9 26%,#f0f0ea 95%,#ecebe5);
  margin-left: -1px;
  margin-right: 2px;
  border-radius: 0;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  border-color: #91a7b4;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  padding: 0 12px 3px;
    }
    
    /* Change background color of buttons on hover
    .tab button:hover {
      box-shadow: unset;
      border-top: 1px solid #e68b2c;
      box-shadow: inset 0 2px #ffc73c;
    }
    
    /* Create an active/current tablink class 
    .tab button.active {
      background: #fcfcfe;
      border-color: #919b9c;
        border-top-color: rgb(145, 155, 156);
        border-bottom-color: rgb(145, 155, 156);
      margin-right: -1px;
      border-bottom: 1px solid transparent;
      border-top: 1px solid #e68b2c;
      box-shadow: inset 0 2px #ffc73c;
    } */
    