.start-menu{
    position:absolute;
    bottom:30px;
    left:0;
    width:260px;
}

.start-menu-img {
    width: 100%; /* max width */
    float: left;
}

.start-menu-button{
    display:flex;
    align-items: center;
    position:absolute;
}

.start-menu-button:hover{
    box-shadow: 0px 0px 2px 1px black;
    border-radius:4px;
}

.turn-off-computer{
    bottom:10px;
    width:160px;
    height:40px;
    left:100px;
}


.log-off{
    bottom:10px;
    width:84px;
    height:40px;
    left:10px;
}

/* .a01{
    bottom:482px;
}

.a02{
    bottom:426px;
}

.a03{
    bottom:371px;
}

.a04{
    bottom:316px;
}

.a04{
    bottom:316px;
} */

.start-menu-app-icon{
    float:left;
    display:inline;
    height:48px;
    width:48px;
}

.start-menu-app-title{
    display:inline;
    margin-left: 6px;
}

.start-menu-app{
    left:10px;
    width:240px;
    height:54px;
}