.start-menu{
    position:absolute;
    bottom:30px;
    left:0;
    width:260px;
}

.start-menu-img {
    width: 100%; /* max width */
    float: left;
}

.start-menu-button{
    display:flex;
    align-items: center;
    position:absolute;
}

.start-menu-button:hover{
    background-color: #316ac5;
    color:white;
}

.turn-off-computer{
    position:absolute;
    bottom:9px;
    width:160px;
    height:40px;
    left:8px;
}

.turn-off-computer:hover{
    background-color: #8298bb5d;
}


.log-off{
    bottom:10px;
    width:84px;
    height:40px;
    left:10px;
}

.start-menu-app{
    left:10px;
    width:240px;
    height:54px;
}

.start-menu-app-icon{
    float:left;
    margin-left:2px;
    height:40px;
    width:40px;
}

.start-menu-app-title{
    display:inline;
    margin-left: 6px;
}
