.taskbar{
  width:100%;
  position:absolute;
  bottom:0;
  left:0;
  z-index:10000
}

#current-time{
    position: relative;
    text-align: center;
    right:150%;
    font-size:12px;
    color:white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    z-index:1;
    bottom:8px;
    
}

.taskbar-right {
  position: absolute;
  bottom:0;
  right:0;
}

/* Ensure taskbar is in front of applications 
Need to fix, messes with taskbar apps' z-index
but this works for the draggable-apps*/
/* .start-bar, .taskbar-right, .start-button{
  z-index: 1000;
} */


.start-bar{
  position:absolute;
  bottom:0;
  width:100%;
  height:30px;
}

.start-bar-right{
  position:absolute;
  bottom:0;
  right:0;
}

.start-button{
  position:absolute;
  bottom:0;
}

.app-title{
  position:relative;
  top:2px;
  width: 120px;
  bottom:0px;
  left: 12px;
  z-index: 1;
  justify-content: left;
  display: flex;
}

.taskbar-app-icon{
  display:block;
  margin-top: auto;
  margin-bottom:auto;
  width:16px;
  height:16px;
  padding-right:10px;
  float:left;
}

.taskbar-application-img{
  position:absolute;
  bottom:1px;
  z-index:0;
  height:90%;
  filter:grayscale(70%);
}

.taskbar-application{
  color:white;
  width:30%;
  height:30px;
  bottom:0px;
  position:absolute;
}

@media only screen and (max-width: 800px) {
  .taskbar-application {
    display:none;
  }
}

.taskbar-middle {
  z-index:1002;
  position:absolute;
  bottom:0;
  left:106px;
    width:500px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 173px;
    grid-row-gap: 0px;
    z-index: 0;
    } 

    div[class^="div"]{
      height:30px;
  }

  .selected-taskbar-app{
    filter:grayscale(0%);
}


#taskbar-app-div-1 { grid-area: 1 / 1 / 2 / 2; }
#taskbar-app-div-2 { grid-area: 1 / 2 / 2 / 3; }
#taskbar-app-div-3 { grid-area: 1 / 3 / 2 / 4; }
#taskbar-app-div-4 { grid-area: 1 / 4 / 2 / 5; }
#taskbar-app-div-5 { grid-area: 1 / 5 / 2 / 6; } 