.app-container {
    position: absolute;
    right: 0;
    top: 0;
    left:0;
    background-color: lightblue;
    border-radius: 10px;
    border: 4px solid #005bf2;
    cursor:alias;
}

.topbar {
    float:left;
    width:100%;
    font-weight: bold;
    padding-bottom: 10px;
    border-bottom: 3px solid;
    background-color: #0058ee;
    cursor:move;
}

.topbar-title{
    padding-left: 8px;
}

.topbar-buttons{
    float:right;
    padding-right:20px;
}

#maximize-button{
    image: url("../images/application-topbar/desktop-app-topbar-expand.png");
}

.contents {
    padding-top: 50px;
    padding-bottom: 200px;
}

/* Left side of app gradient

 linear-gradient(90deg, rgba(1,156,240,1) 0%, rgba(8,49,217,1) 33%, rgba(22,106,238,1) 66%, rgba(8,85,221,1) 100%);
 
 */