.app-container {
    position: absolute;
    right: 0;
    top: 0;
    left:0;
    border-radius: 16px 16px 0px 0px;
    min-width: 350px;
    min-height:120px;
    border: solid;
    resize:both;
    overflow:hidden;
}

.topbar {
    height:60px;
    font-weight: bold;
    background-image: url("../images/application-topbar/desktop-app-topbar-background.png");
    color:white;
}

.topbar-title{
    padding-left: 8px;
    padding-top:16px;
    float:left;
    font-size: 20px;
    text-shadow: 1px 1px 1px #000000;
    cursor:default;
}

.topbar-right{
    position:relative;
    float:right;
    height:60px;
}

.topbar-left{
    position:relative;
    float:left;
    height:60px;
}

.topbar-buttons{
    float:right;
    padding-top: 8px;
}



.topbar-buttons > button{
    background-color:transparent;
    padding:0;
    border:none;
    padding-top: 6px;
}

.topbar-buttons > button > img{
    box-shadow: 1px 1px 6px #000000;
    height:75%;
    width:75%;
}

.contents{
    max-width: 100%;
    max-height:100%;
    background-color: white;
    overflow:hidden;
    height:100%
}

/* Left side of app gradient

 linear-gradient(90deg, rgba(1,156,240,1) 0%, rgba(8,49,217,1) 33%, rgba(22,106,238,1) 66%, rgba(8,85,221,1) 100%);
 
 */