.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    }

.icon-selected > p {
    display:none;

}
    
    .div1 { grid-area: 1 / 1 / 2 / 2; }
    .div2 { grid-area: 1 / 2 / 2 / 3; }
    .div3 { grid-area: 1 / 3 / 2 / 4; }
    .div4 { grid-area: 1 / 4 / 2 / 5; }
    
    div[class^="app-grid"]{
        margin: auto;
        text-align: center;
        font-family: "Segoe UI", sans-serif;
        font-smooth:never;
        -webkit-font-smoothing : none;
        color:white;
        text-shadow: 2px 1px 2px black
    }

    .selected{
        background-color: lightblue;
        transform:none
    }

