.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 48px;
    grid-row-gap: 8px;
    float:left;    
    margin-left:40px;
    width:0px;
    height:0px;
}

@media only screen and (max-width: 800px) {
    .parent {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(6, 1fr);
        grid-column-gap: 50px;
        grid-row-gap: 8px;
        margin-left:20px;
    }
  }
    
   
    
    div[class^="app-grid"]{
        margin: auto;
        margin-top:20px;
        width:80px;
        text-align: center;
        font-family: "Segoe UI", sans-serif;
        font-smooth:never;
        -webkit-font-smoothing : none;
        color:white;
        text-shadow: 2px 1px 2px black
    }

    .app-tile-title p{
        margin:0;
    }

    .selected p{
        background-color: #316ac5;
    }


    .selected img{
        filter: sepia(100%) hue-rotate(190deg) saturate(500%);
    }

    .icon-img-overlay{
        fill: #316ac5;
        z-index: 1000;
    }

    .icon-img-overlay > img{
        width:48px;
        height:48px; 
    }

