.tooltip {
    animation: fade-in 0.15s ease-in-out;
    background-color: #FFFFE1;
    border: 1px solid #000000;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
    color: #000000;
    font-family: Arial, sans-serif;
    font-size: 12px;
    padding: 4px;
    text-align: center;
    width: 200px;
  }
  
  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }