.taskbar{
  width:100%;
  position:absolute;
  bottom:0;
  left:0;
  z-index:10000
}

#current-time{
    position: relative;
    text-align: center;
    right:150%;
    font-size:12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    z-index:1;
    bottom:8px;
    
}

.taskbar-right {
  position: absolute;
  bottom:0;
  right:0;
}

/* Ensure taskbar is in front of applications 
Need to fix, messes with taskbar apps' z-index
but this works for the draggable-apps*/
/* .start-bar, .taskbar-right, .start-button{
  z-index: 1000;
} */


.start-bar{
  position:absolute;
  bottom:0;
  width:100%;
  height:30px;
}

.start-bar-right{
  position:absolute;
  bottom:0;
  right:0;
}

.start-button{
  position:absolute;
  bottom:0;
}

.app-title{
  position:relative;
  top:2px;
  bottom:0px;
  left: 32px;
  z-index: 1;
}

.taskbar-application-img{
  position:absolute;
  bottom:4px;
  z-index:0;
  width:100%;
  height:auto;
}

.taskbar-application{
  color:white;
  width:30%;
  height:30px;
  bottom:0px;
  position:absolute;
}

.taskbar-middle {
  z-index:1002;
  position:absolute;
  bottom:0;
  left:106px;
    width:500px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 160px;
    grid-row-gap: 0px;
    z-index: 0;
    } 

    div[class^="div"]{
      height:30px;
  }


.taskbar-app-div1 { grid-area: 1 / 1 / 2 / 2; }
.taskbar-app-div2 { grid-area: 1 / 2 / 2 / 3; }
.taskbar-app-div3 { grid-area: 1 / 3 / 2 / 4; }
.taskbar-app-div4 { grid-area: 1 / 4 / 2 / 5; }
.taskbar-app-div5 { grid-area: 1 / 5 / 2 / 6; } 