
#current-time{
    position: relative;
    font-size:12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    z-index:1;
    right:70%;
    bottom:8px;
    
}

.taskbar-right {
  position: absolute;
  bottom:0;
  right:0;
}


.start-bar{
  position:absolute;
  bottom:0;
  width:100%;
  height:30px;
}

.start-bar-right{
  position:absolute;
  bottom:0;
  right:0;
}

.start-button{
  position:absolute;
  bottom:0;
}

.app-title{
  position:relative;
  bottom:0px;
  left: 32px;
}

.taskbar-application{
  color:white;
}

.taskbar-middle {

  position:absolute;
  bottom:0;
  left:106px;
    width:500px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 8px;
    grid-row-gap: 0px;
    z-index: 0;
    } 

.div1 { grid-area: 1 / 1 / 2 / 2; }
.div2 { grid-area: 1 / 2 / 2 / 3; }
.div3 { grid-area: 1 / 3 / 2 / 4; }
.div4 { grid-area: 1 / 4 / 2 / 5; }
.div5 { grid-area: 1 / 5 / 2 / 6; } 