.top-inputs{
    margin: 8px 0px 4px 0px;
}

.top-menu-contact{
    overflow:hidden;
    background-image: url("../../images/application-images/contact-top-menu-background.png");
    height:87.9px;
    background-size: 126.05px 100%;
}

.top-menu-img-contact{
    width:400px;
    height:auto;
    margin:0;
}

/* button overlay for the send button in top-bar image, used to change its appearance. Not ideal but not bad either */
#send-button{
    position: absolute;
    background: transparent;
    border: none !important;
    font-size:0;
    top:91px;
    left:18px;
    width:50px;
    height:52px;
}

.small-mail-icon{
    height:14px;
    width:auto;
    margin-right:5px;
}

form{
    background-color: #efeee3;
    height:100%
}

#body {
    width:95%;
    height:50%;
    resize: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border:ridge #efeee3 4px;
    min-height:260px;
}

.labels-icons{
    display:inline-block;
    margin:4px 0px 0px 24px;
    width: 100px;
    height:10px;
}

input {
    width: 80%;
    border-radius: 0;
}

input:focus, select:focus, textarea:focus { outline: none; }