/* Styling for top-elements of application */
.top-inputs{
    margin: 8px 16px 4px 0px;

}

.top-menu-contact{
    overflow:hidden;
    background-image: url("../../images/application-images/contact-top-menu-background.png");
    height:87.9px;
    background-size: 126.05px 100%;
}

.top-menu-img-contact{
    width:400px;
    height:auto;
    margin:0;
}

/* button overlay for the send button in top-bar image, used to change its appearance. Not ideal but not bad either */
#send-button{
    position: absolute;
    background: transparent;
    border: none !important;
    font-size:0;
    top:91px;
    left:18px;
    width:50px;
    height:52px;
}
/* Styling for top elements end */

/* Styling for contact & subject inputs */
.small-mail-icon{
    height:14px;
    margin-right:5px;
}

.labels-icons{
    margin:4px 0px 0px 24px;
    width: 70px;
}

.contact-form{
    background-color: #efeee3;
    height:100%
}

.top-inputs {
    display: grid;
    grid-template-columns: 100px auto;
    grid-template-rows: repeat(3, 1fr);
    grid-row-gap: 2px
    }
  
.contact-form input {
    width: 98%;
    border-radius: 0;
    display:flex;
}

.contact-form input:focus, .contact-form select:focus, .contact-form textarea:focus { outline: none; }

#body {
    width:95%;
    height:50%;
    resize: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border:ridge #efeee3 4px;
    min-height:260px;
}


/* ReCAPTCHA styling */
iframe{
    border:solid #d8d2bd 1px;
    background-color: #f0efe1;
    margin-left: 0;
    margin-right:auto;
    padding-left:24px;
    padding-top:4px;
    margin:0;
    text-align: center;
    position:absolute;
    top:-4px;
    width:100vw;
    height: 81px;
}