.top-menu{
    overflow:hidden;
    background-image: url("../../images/application-images/myCV-top-menu-background.png");
    height:126.05px;
    background-size: 126.05px 100%
}

.top-menu-img{
    width:860px;
    height:auto;
    margin:0;
}

.top-menu-img-bg{
    height:126.05px;
    width:5%;
}

.text-contents{
    max-width: 800px;
    left:0;
    margin:auto;
    border:ridge;
    overflow:auto;
    height: calc(80% - 100px);
    background-color: white;
    padding-left:16px;
    padding-right:16px;
    margin-top:26px;
}

#cv-background{
    background-color: lightgray;
    height:100%;
}

h1, h2{
    margin-top: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.cv-headline{
    margin-top:0;
    margin-bottom:0;
}

.cv-subheadline{
    padding-left:20px;
    margin:10px;
}

.cv-position-title{
    padding-left:40px;
    margin:8px;
}

.cv-list{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left:40px;
}


p {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}