#cv-background{
    padding-left:20px;
    padding-right:20px;
    margin-bottom:40px;
}

h1, h2{
    margin-top: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.cv-headline{
    margin-top:0;
    margin-bottom:0;
}

.cv-subheadline{
    padding-left:20px;
    margin:10px;
}

.cv-position-title{
    padding-left:40px;
    margin:8px;
}

ul{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left:40px;
}

p {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}