.top-menu{
    overflow:hidden;
    background-image: url("../../images/application-images/myCV-top-menu-background.png");
    height:96.6px;
    background-size: 96.6px 100%;
    position:static
}

.top-menu-img{
    width:860px;
    height:auto;
}

.top-menu-img-bg{
    height:126.05px;
    width:5%;
}

.text-contents{
    max-width: 800px;
    margin:auto;
    border:ridge;
    background-color: white;
    padding-left:16px;
    padding-right:16px;
    margin-top:16px;
    margin-bottom:60px;
}

div[contenteditable]:focus {
    outline: none;
  }

#cv-background{
    background-color: lightgray;
    overflow:hidden;
}

h1, h2{
    margin-top: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.cv-headline{
    margin-top:0;
    margin-bottom:0;
}

.cv-subheadline{
    padding-left:20px;
    margin:10px;
}

.cv-position-title{
    padding-left:40px;
    margin:8px;
}

.cv-list{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left:40px;
}


p {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}