.pdf-reader-background {
    text-align: center;
    align-items: center;
    margin: auto;
    width: 100%;
    position:relative;
    background-color: #6b84db;
    overflow-x: hidden;
}


.react-pdf__Document {
    height:90vh;
}

.react-pdf__Page__canvas {
 margin: auto;
}

.react-pdf__Page{
    background-color: #d3d3d3;
}


.pdf-container, .pdf-controls{
    width:100%;
    margin:auto;
}

.pdf-container {
    text-align: center;
    overflow: visible;
    border: solid #ccc8b2 1px;
    background-color: #d3d3d3;
    padding-top: 20px;
    padding-bottom: 20px;
}

.pdf-zoom{
    margin: 0px 4px 0px 4px;
}

.annotationLayer {
    display: none;
}

.pdf-controls {
    padding-top: 20px;
    padding-bottom: 20px;
}


.page-index{
    display:inline;
}


/* https://www.w3schools.com/howto/howto_css_hide_arrow_number.asp */
.pdf-input::-webkit-outer-spin-button,
.pdf-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* Firefox */
.pdf-input[type=number] {
  -moz-appearance: textfield;
}



.page-arrow{
    margin: 0px 8px 0px 8px
}

.pdf-controls > img, .pdf-controls > a > img{
    padding:2px;
    height:24px;
    width:24px;
    margin: 0px 8px 0px 8px;
    vertical-align: middle;
}

.pdf-controls{
    vertical-align: middle;
    font-size: 16px;
}

.pdf-controls > img:hover{
    box-shadow: 0 0 2px black;
}


.pdf-input{
    font-size:15px;
    width:16px;
    padding:0;
    margin:0;
    background-color: transparent;
    border: none;
}

/* The following part is for embedded PDF controls in the portfolio app */
.embedded-pdf-elements{


}

#embedded-previous-page, #embedded-next-page, #embedded-zoom-in, #embedded-zoom-out{
    position:absolute;
    top:72px;
    width:38px;
    height:38px;
    border-radius: 20px;
}

#embedded-previous-page{
    left:10px;
}

#embedded-next-page{
    left:132px;
}

#embedded-previous-page:hover, #embedded-next-page:hover{
    background-color: #ffffff35;
}

#embedded-page-number{
    position:absolute;
    top:33px;
    left:60px;
    font-size: 32px;
}

#embedded-zoom-in:hover, #embedded-zoom-out:hover{
    border: solid 1px black;
}

#embedded-zoom-in{
    left:258px;
    border-radius: 0;
    height:44px;
    width:42px;
    top:68px
}

#embedded-zoom-out{
    left:300px;
    border-radius: 0;
    height:44px;
    width:42px;
    top:68px
}

#embedded-file-title{
    position:absolute;
    top:106px;
    left:106px;
    font-size: large;
    width:100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}