.pdf-reader-background {
    text-align: center;
    align-items: center;
    margin: auto;
    margin-bottom: 200px;
    height: 100%;
    width: 100%;
}

.react-pdf__Document {
    height: 100%
}

.react-pdf__Page__canvas {
    margin: auto;
    height: 20px;
    width: 20px;
    display: block;
}

.pdf-container, .pdf-controls{
    width:90%;
    margin:auto;
}

.pdf-container {
    text-align: center;
    overflow: auto;
    border: solid #ccc8b2 1px;
    background-color: #d3d3d3;
    padding-top: 20px;
    padding-bottom: 20px;
}

.pdf-zoom{
    margin: 0px 4px 0px 4px;
}

.contents{
    padding-top: 0;
}

.annotationLayer {
    display: none;
}

.pdf-controls {
    border: solid 1px #ccc8b2;
    background-color: #efeee3;
    padding-top: 20px;
    padding-bottom: 20px;
}


.page-index{
    display:inline;
}


/* https://www.w3schools.com/howto/howto_css_hide_arrow_number.asp */
.pdf-input::-webkit-outer-spin-button,
.pdf-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.pdf-input[type=number] {
  -moz-appearance: textfield;
}



.page-arrow{
    margin: 0px 8px 0px 8px
}

.pdf-controls > img{
    padding:2px;
    
}

.pdf-controls > img:hover{
    box-shadow: 0 0 2px black;
}
.pdf-input{
    width:12px;
    padding:0;
    margin:0;
    background-color: transparent;
    border: 0;
}