.photos-row{
    padding-top:10px;
    display:flex;
    margin:20px;
    width:100%;
    overflow-x:scroll;
    left:0;
    text-align: center;
}

.top-menu-photos{
    overflow:hidden;
    background-image: url("../../images/application-images/photoViewer-top-menu-background.png");
    height:69.033px;
    background-size: 126.05px 100%
}

.change-focused-photo{
    width:20px;
    padding: 4px;
}

.change-focused-photo:hover{
    box-shadow: 0 0 2px black
}


.top-menu-img-photos{
    width:400px;
    height:auto;
    margin:0;
}

.focused-photo{
    margin: auto;
    padding-top:20px;
    padding-bottom:40px;
    width: 100%;
    min-height:200px;
    height:40%;
    background-color: #eef2fb;
    text-align: center;
}

.focused-photo-img {
    height:100%;
    width:auto;
    border: solid 2px
}

.photos-row > img{
    padding:20px;
    border: solid 2px;
    border-color: #ece9d8;
    display:none;
}

.photos-preview {
    margin:auto;
    padding: 0px 12px 0px 12px;
}

.photos-preview-upper{
    height:160px;
    width:160px;
}

.photos-preview-lower{
    width:160px;
    height:160px;
}

.photos-preview-upper > img{
    margin:auto;
    border: solid 4px;
    border-color: #ece9d8;
    width:100%;
    height:100%;
}

.photos-preview > p {
}

.selected-photo{
    border:solid 4px #316ac5 !important;
}

.photos-background{
    background-image: url("../../images/application-images/photos-background.png");
    background-repeat: no-repeat;
    background-position: bottom right;
    height:100%;
}

.winXP-button{
    padding: 2px 16px 2px 16px;
    border: 1px solid #003c74;
    border-radius: 4px;
    background-color:white;
}
  
.winXP-button:hover{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
 border: 2px solid #e59700;
}
  