.references-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .references-selected { grid-area: 1 / 2 / 8 / 5; }

 

    .references-selected{
        height:300px;
        border: solid #d8d2bd 1px;
        overflow:auto;
        background-color: white;
    }

    .contact{
        clear: both;
        display: inline-block;
        overflow: hidden;
        white-space: nowrap;
    }

    .contact-expanded-text{
        margin:20px;
        border:solid 1px;
        text-align: justify;
        padding: 0px 12px 0px 12px;
    }

    .references-selected-photo{
        width:116px;
        margin:16px 16px 8px 20px;
        float:left;
        border: solid 2px;
        border-color: #ece9d8;
        box-shadow: 1px 1px 6px 1px;
    }

    .reference-name{
        margin-top:8px;
    }

    .list-references{
        font-family: "MS Sans Serif",Arial;
        list-style: none;
        margin:8px;
        padding:0;
    }

    .element-reference{
        padding:3px;
    }

    .element-reference:hover{
        cursor:pointer
    }

    .active-contact{
        background-color: #316ac5;
        color:white;
        border:dotted rgb(160, 160, 160);
        padding:0px;
    }

    .left-side-ref{
        margin-top:4px;
        border: solid;
        width:96%;
        margin-left:2px;
        display:inline-block;
    }

    .left-side-ref:hover{
        background-color: #0056ea2a;
    }

    .left-panel{
        height:300px;
        overflow:auto;
        border: solid #d8d2bd 1px;
        background-color: white;
    }

    .reference-short{
        padding-left:4px;
        list-style-type:none;
        margin:none;
    }

    .reference-short-position, .reference-short-company{
        font-size: 0.8em;
    }
    