.references-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height:100%;
    width:100%;
    }
    
    .references-selected { grid-area: 1 / 2 / 8 / 5; }
    .references-div2 { grid-area: 1 / 1 / 2 / 2; }
    .references-div3 { grid-area: 2 / 1 / 3 / 2; }
    .references-div4 { grid-area: 3 / 1 / 4 / 2; }
    .references-div5 { grid-area: 4 / 1 / 5 / 2; }
    .references-div6 { grid-area: 5 / 1 / 6 / 2; }
    .references-div7 { grid-area: 6 / 1 / 7 / 2; }
    .references-div8 { grid-area: 7 / 1 / 8 / 2; }


    .references-background{
        height:70%;
    }

    .references-selected{
        height:110%;
        border-left: solid;
    }

    .contact{
        clear: both;
        display: inline-block;
        overflow: hidden;
        white-space: nowrap;
    }

    .contact-expanded-text{
        margin:20px;
        border:solid;
        padding:4px;
    }

    .references-selected-photo{
        width:100px;
        margin:8px;
        float:left;
        border: solid 2px;
        border-color: #ece9d8;
        box-shadow: 1px 1px 6px 1px;
    }

    .reference-name{
        margin-top:8px;
    }

    .left-side-ref{
        margin-top:4px;
        border: solid;
        width:96%;
        margin-left:2px;
        display:inline-block;
    }

    .left-side-ref:hover{
        background-color: rgba(228, 248, 255, 0.211);
    }

    .left-panel{
        min-height:500px;
        height:100%;
        overflow:auto;

    }

    .reference-short{
        padding-left:4px;
        list-style-type:none;
        margin:none;
    }

    .reference-short-position, .reference-short-company{
        font-size: 0.8em;
    }
    