.desktop-background{
  background-image: url("images/desktop-background.jpg");
  background-size: cover;
  height:100vh;
}

#current-time, #app-title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size:8px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.task-bar-right {
  position: absolute;
  bottom:0;
  right:0;
}

.taskbar-application{
  position: absolute;
  bottom:0;
  right:50%;
  color:white;
}

.start-bar{
  position:absolute;
  bottom:0;
  width:100%;
  height:30px;
}

.start-button{
  position:absolute;
  bottom:0;
}

.app-root{
  overflow:hidden;
}