.desktop-background{
  background-image: url("images/desktop-background.jpg");
  background-size: cover;
  height:100vh;
  z-index: -1;
}


.app-root{
  overflow:hidden;
}

/* Prevent selection of elements, mostly for text elements */
.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}